*{
	text-decoration: none;
}

.wh { 
	background-color:rgba(164.00000542402267, 189.00000393390656, 219.0000021457672, 0.4399999976158142);
	width:1280px;
	height:2352px;
	position:absolute;
	left:-7px;
	top:0px;
}
.hi { 
	background-color:rgba(168.0000051856041, 203.00000309944153, 237.0000010728836, 0.6499999761581421);
	width:570px;
	height:246px;
	position:absolute;
	left:701px;
	top:1589px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.aspi { 
	color:rgba(0, 0, 0, 1);
	width:522px;
	height:192px;
	position:absolute;
	left:726px;
	top:1616px;
	font-family:Abhaya Libre SemiBold;
	font-size:20px;
}


.p { 
	color:rgba(4, 1, 1, 0.67);
	width:420px;
	height:76px;
	position:absolute;
	left:408px;
	top:351px;
	font-family:Abhaya Libre SemiBold;
	text-align:center;
	font-size:64px;
}
.c { 
	background-color:rgba(164.00000542402267, 189.00000393390656, 219.0000021457672, 0.3199999928474426);
	width:389px;
	height:212px;
	position:absolute;
	left:574px;
	top:544px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.d { 
	background-color:rgba(134.00000721216202, 172.00000494718552, 219.0000021457672, 0.41999998688697815);
	width:547px;
	height:212px;
	position:absolute;
	left:170px;
	top:993px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.e{ 
	background-color:rgba(134.00000721216202, 172.00000494718552, 219.0000021457672, 0.41999998688697815);
	width:274px;
	height:82px;
	position:absolute;
	left:134px;
	top:966px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.f { 
	background-color:rgba(164.00000542402267, 189.00000393390656, 219.0000021457672, 0.3199999928474426);
	width:217px;
	height:95px;
	position:absolute;
	left:543px;
	top:509px;
	border-top-left-radius:25px;
	border-top-right-radius:25px;
	border-bottom-left-radius:25px;
	border-bottom-right-radius:25px;
}
.skill{ 
	color:rgba(0, 0, 0, 1);
	width:202px;
	height:53px;
	position:absolute;
	left:549px;
	top:556px;
	font-family:Abhaya Libre SemiBold;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.pic2 {
	width: 300px; 
	height: 400px;
	margin-left: 60%;
}

.pic3{
	width: 300px; 
	height: 400px;
	margin-left: 20%;
}
.pic4{
	width: 300px; 
	height: 400px;
	margin-left: 60%;
}
.pic5{
	width: 300px; 
	height: 420px;
	margin-left: 20%;
	margin-top: 15%;

}
.goals { 
	color:rgba(0, 0, 0, 1);
	width:515px;
	height:125px;
	position:absolute;
	left:186px;
	top:1020px;
	font-family:Abhaya Libre SemiBold;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.can{ 
	color:rgba(0, 0, 0, 1);
	width:367px;
	height:96px;
	position:absolute;
	left:585px;
	top:609px;
	font-family:Abhaya Libre SemiBold;
	text-align:left;
	font-size:20px;
	letter-spacing:0;
}
.g { 
	width:581px;
	height:511px;
	position:absolute;
	left:633px;
	top:885px;
	border-top-left-radius:15px;
	border-top-right-radius:15px;
	border-bottom-left-radius:15px;
	border-bottom-right-radius:15px;
	background-image:url(images/nyz.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.h { 
	width:582px;
	height:438px;
	position:absolute;
	left:105px;
	top:1465px;
	background-image:url(images/n3_1.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.i { 
	width:1217px;
	height:168px;
	position:absolute;
	left:25px;
	top:2083px;
}
.j{ 
	width:173px;
	height:28px;
	position:absolute;
	left:79px;
	top:20px;
}

.r { 
	
	position:absolute;
	left:79px;
	top:84px;
}
.links{
	margin-left: 80px;
	margin-top: 30px;
}
.socials{
	display: flex;
	letter-spacing: 40px;
}

.phoneno { 
	color:rgba(0, 0, 0, 1);
	width:126px;
	height:16px;
	position:absolute;
	left:26px;
	top:0px;
	font-family:Pridi;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}

.pmail { 
	color:rgba(0, 0, 0, 1);
	width:200px;
	height:59px;
	position:absolute;
	left:36px;
	top:27px;
	font-family:Pridi;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.cmail { 
	color:rgba(0, 0, 0, 1);
	width:241.6787109375px;
	height:10.755555152893066px;
	position:absolute;
	left:20px;
	top:48px;
	font-family:Pridi;
	text-align:center;
	font-size:16px;
	letter-spacing:0;
}
.w { 
	color: #000;
	width:1132px;
	height:33px;
	position:absolute;
	left:74px;
	top:30px;
}
.ppp { 
	color:rgba(0, 0, 0, 1);
	width:231px;
	height:29px;
	position:absolute;
	left:477px;
	top:4px;
	font-family:Inter;
	text-align:center;
	font-size:24px;
	letter-spacing:0;
}
.ho{
	font-size: 28px;
	color: black;
}
.ab { 
	color: #000;
	width:70px;
	height:24px;
	position:absolute;
	left:107px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.prof { 
	color:rgba(0, 0, 0, 1);
	width:81px;
	height:24px;
	position:absolute;
	left:239px;
	top:8px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
.downl { 
	color:rgba(0, 0, 0, 1);
	width:151px;
	height:24px;
	position:absolute;
	left:981px;
	top:0px;
	font-family:Inter;
	text-align:center;
	font-size:20px;
	letter-spacing:0;
}
